  .section.glass {
  margin: 80px auto;
  padding: 60px;
  width: 80%;
  background: rgba(255,255,255,.06);
  border-radius: 20px;
  backdrop-filter: blur(14px);
  box-shadow: 0 20px 50px rgba(0,0,0,.4);
}
.about_me{
  background-color: var(--bgColor);
  padding: 40px 0px 60px;

  .container{
      .about_inner{
          margin-top: 100px;
      }

      }
      
      .about_title  {
          h2{
          font-size: 22px;
          color: rgb(238, 238, 238) !important;
          }
      }
      
      .about_descrip {
          p {
              color: #c5c3d1 !important;
              font-size: 15px;
          }
      }
      .download_cv a{
    background-color: var(--btnColor);
    padding: 10px 30px;
    color: var(--white);
    border-radius: 5px;
    font-size: 15px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    border: none;
    transition: 0.3s;
    text-decoration: none;
    &:hover{
      background-color: #716FFF;
    }
      }
      .about_info {
          position: relative;
          ul li {
              border-top: 1px dashed rgb(73 67 129);
              padding-top: 14px;
              padding-bottom: 14px;
          }
          ul li b {
              // margin-right: 55px !important;
              position: absolute;
              left: 90px;
          }
          
          ul li span {
              color: rgb(238, 238, 238);
              font-size: 16px;
              font-weight: 600;
          }
          ul li small {
              color: #c5c3d1;
              position: absolute;
              left: 115px;
              font-size: 15px;
          }
          ul li a {
            color: #c5c3d1;
            position: absolute;
            left: 115px;
            font-size: 15px;
            text-decoration: none;
        }
      }
      .ms_box{
          margin-bottom: 30px;
          padding: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          background: #202337;
          border-radius: 15px;
          -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          position: relative;
          overflow: hidden;
          ::before{
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            content: "";
            width: 150px;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.03);
            position: absolute;
            top: -38%;
            right: -15%;
            border-radius: 50%;
            transition: 0.3s;
          }
          ::after{
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            content: "";
            width: 150px;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.03);
            position: absolute;
            top: -15%;
            right: -32%;
            border-radius: 50%;
            transition: 0.3s;
          }
          h2 {
            font-size: 22px;
            color: #fff !important;
        }
        
        p {
            color: #c5c3d1 !important;
            text-align: center;
            font-size: 14px;
        }
      }
      .progress, .progress-stacked{
          background: transparent;
          font-size: 18px;
      }
      .progress {
          width: 100px;
          height: 90px;

          .track,
          .fill {
            fill: none;
            stroke-width: 8;
            // transform: rotate(90deg) translate(0px, -80px);
          }
        
          .track {
            stroke: rgb(56, 71, 83);
          }
        
          .fill {
            stroke: white;
            stroke-dasharray:  219.99078369140625;
            stroke-dashoffset: -219.99078369140625;
            transition: stroke-dashoffset 0.3s ease;
          }
        
          path.fill.green.htmlValue-fill {
            stroke: #FF6F91!important;
        }
        
         path.fill.green.cssValue-fill {
                stroke: #716FFF!important;
            }

            path.fill.green.jsValue-fill {
              stroke: #716FFF!important;
          }

          path.fill.green.phpValue-fill {
            stroke: #716FFF!important;
        }

          .value {
            font-family: 'Open Sans';
            fill: white;
            font-size: 16px;
            text-anchor: middle;
            dominant-baseline: middle;
          }
        }
        
        .noselect {
          user-select: none;
          cursor: default;
        }
        
              
}


// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

  .row.exprCard {
    margin-top: 55px;
}

}

// `md` applies to small devices (landscape phones, less than 768px)
  
@media (max-width: 767px) {
  
      .about_me {
        padding: 90px 0px !important;
      }

}

  // `sm` applies to x-small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) { 
    section#about {
      padding: 90px 0px 65px!important;
  }
.about_inner {
  padding-left: 11px;
  padding-right: 11px;
}
  }