.hero_area{
    background-color: var(--bgColor);
    padding: 35px 0px;
    height: 515px;
    
    .hero_inner .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
    
    .social_media{
        margin-top: 128px;
        ul li{
            margin-bottom: 15px;
            font-size: 16px;
            border: 1px solid #fff;
            border-radius: 100%;
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
                background: #716FFF;
                border: 1px solid #716FFF !important;
            }
        }

        a{
            color: #e5dfdf;
        }
    }
    .hero_content{
        margin-top: 68px;
        .bg_arr {
        background-image: url(../../assets/img/bg-icon/1.png) !important;
        display: block;
        position: absolute;
        left: 55%;
        top: 31%;

        width: 50px;
        height: 165px;

        opacity: 0.12;

        background-repeat: no-repeat;
        background-size: contain;

        transform: rotate(25deg);
        animation: arrowFloat 8s ease-in-out infinite;
        }
        @keyframes arrowFloat {
        0% {
            transform: translateY(0) rotate(30deg);
        }
        50% {
            transform: translateY(-18px) rotate(30deg);
        }
        100% {
            transform: translateY(0) rotate(25deg);
        }
        }
        .bg_ee{
            background-image: url(../../assets/img/bg-icon/2.png);
            width: 60px;
            height: 65px;
            background-size: contain;
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            left: 43%;
            transform: rotate(11deg);
            transition: 0.3s;
            opacity: 0.2;
            -webkit-animation: rotateshape 15s linear infinite;
            animation: rotateshape 15s linear infinite;
            opacity: 0.1;
        
        }
        @keyframes rotateshape {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        .bg_line{
            background-image: url(../../assets/img/line.png);
            position: absolute;
            width: 20px;
            height: 167px;
            background-repeat: no-repeat;
            right: 370px;
            transform: rotate(45deg);
            animation: MovesUpDown 5s linear infinite;
            opacity: 0.1;
        }
        @keyframes MovesUpDown {
            0%, 100% {
                bottom: -180px;
            }
            
            50% {
                bottom: -150px;
            }
        }
        p {
            margin-top: 20px;
            margin-bottom: 40px;
            color: #e5dfdf;
            width: 565px;
        }
        h1{
        font-size: 45px;
        color: #fffafa !important;
        }
        h3{
        color: #e5dfdf !important;
        margin: 0;
        padding: 0;
        }
        h2{
            color: #e5dfdf !important;
            font-size: 20px;
        }
        .hbtn {
            a i{
                margin-left: 8px;
            }
        }
    }

    .hero_img{
        // margin-top: -28px;
        height: 365px;
        width: 365px;
        display: block;
        border: 8px solid #716FFF;
        border-radius: 100%;
        position: relative;
        margin-left: -20px;
        margin-top: 30px;
        box-shadow: #ff0281 1px 6px 25px 7px;
        animation: floatImage 4s ease-in-out infinite;
        img {
            width: 340px;
            height: 345px;
            background: #1A192D;
            border-radius: 100%;
            object-fit: cover;
            position: absolute;
            top: 1px;
            left: 5px;
            animation: pulseGlow 2.5s ease-in-out infinite;
        }
    }
    @keyframes floatImage {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
      }
      
      @keyframes pulseGlow {
        0%, 100% {
          box-shadow: 0 0 15px rgba(255, 43, 133, 0.4), 0 0 30px rgba(95, 0, 186, 0.2);
        }
        50% {
          box-shadow: 0 0 25px rgba(255, 43, 133, 0.7), 0 0 40px rgba(95, 0, 186, 0.4);
        }
    }

}


// `xl` applies to large devices (desktops, less than 1200px)

@media (max-width: 1199.98px) {

    .hero_content{
        h1{
            font-size: 36px !important;
        }
        p{
            width: 430px !important;
        }
    }


  }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .hero_img{
        margin-left: -55px !important;
    }

    .hero_content {
        margin-left: -74px !important;
    }
    
    .social_media {
        display: none;
    }
    
    .hero_img {
        margin-left: -53px !important;
        width: 296px !important;
        height: 290px !important;
        img {
            width: 280px !important;
            height: 287px !important;
        }
    }


 }

// `md` applies to small devices (landscape phones, less than 768px)
  
  @media (max-width: 767px) {

    .hero_area {
      height: unset !important;
  }
    .col-md-4 {
      order: -1; // image upore
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      .hero_img {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .col-md-7 {
      order: 2; // content niche
      width: 100%;

      .hero_content {
        text-align: center;
        padding: 0 15px;
        margin-left: 0px !important;
        p{
            margin: 15px auto 30px !important;
            width: 100% !important;
        }
      }
    }

    .col-md-1 {
      display: none; // optional: hide social icons on small screen
    }

    .hero_img {
        margin-left: 0px !important;
        width: 450px !important;
        height: 450px !important;
        img {
            width: 100% !important;
            height: 100% !important;
        }
    }
    
  }

  // `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

    .hero_img{
        width: 296px !important;
        height: 290px !important;
        img{
            width: 280px !important;
            height: 287px !important;
        }
        }
        .hero_content {
            h1 {
                font-size: 32px !important;
        }
        p {
            font-size: 15px !important;
        }
        }
        
}
 