.service_item{
    background: #202337;
    padding: 25px 23px;
    text-align: center;
    border-radius: 10px;
    height: 300px;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.07);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover{
        transform: translateY(-6px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
    }
    ::before{
        content: "";
        width: 23px;
        height: 42px;
        position: absolute;
        left: 15%;
        bottom: 5%;
        -webkit-transform: rotate(248deg);
        transform: rotate(248deg);
        background-image: url(../../assets/img/shape.png);
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.1;
    }
    ::after{
        content: "";
        width: 38px;
        height: 40px;
        position: absolute;
        right: 1%;
        top: 5%;
        -webkit-transform: rotate(248deg);
        transform: rotate(248deg);
        background-image: url(../../assets/img/tringle.png);
        background-repeat: no-repeat;
        opacity: 0.1;
    }
    .service_image{
        width: 130px;
        img{
            width: 100%;
        }
    }
    h2{
        color: var(--white) !important;
        font-size: 18px;
        text-transform: uppercase;
    }
    p{
        color: #c5c3d1 !important;
        font-size: 15px;
        text-align: justify;
        padding-left: 45px;
    }
    
    section.work-process {
        padding: 0px;
    }
    .service_btn{
        width: 37px;
        height: 37px;
        padding: 8px;
        border: 3px solid #69727d;
        border-radius: 100%;
        margin: auto;
        cursor: pointer;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover{
            border: 3px solid #1b9c85;
            i{
                color: #1b9c85;
            }
        }
    }
}

  // `sm` applies to x-small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) { 
    .service_inner {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .service_item p {
        font-size: 14px !important;
    }
  }
