<section class="stay_in_touch" id="skills">
    <div class="container">
      <div class="sec_title" data-aos="fade-up">
        <h1 class="light_title">Performance</h1>
        <h3>Why Choose <b style="color: #815AB1;">Me</b></h3>
        <p>Have a project in mind? Work closely and bring your idea to life 🙂</p>
        <span></span>
      </div>

      <div class="why_choose_me" data-aos="fade-up" data-aos-delay="200">
        <div class="row mt-5 justify-content-center">

  <div class="col-md-6 col-sm-6 col-6 mb-4">
    <div class="why_choose_item">
      <img src="../../assets/img/why-choose-me/lightbulb.png" alt="">
      <h2 class="mt-2">Problem Solving</h2>
      <p class="mt-2">✔ Turning ideas into practical solutions</p>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-6 mb-4">
    <div class="why_choose_item">
      <img src="../../assets/img/why-choose-me/gear.png" alt="">
      <h2 class="mt-2">Clean Code</h2>
      <p class="mt-2">✔ Modern, scalable & maintainable</p>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-6 mb-4">
    <div class="why_choose_item">
      <img src="../../assets/img/why-choose-me/responsive device.png" alt="">
      <h2 class="mt-2">Fully Responsive</h2>
      <p class="mt-2">✔ Works perfectly on all devices</p>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-6 mb-4">
    <div class="why_choose_item">
      <img src="../../assets/img/why-choose-me/rocket.png" alt="">
      <h2 class="mt-2">Fast Delivery</h2>
      <p class="mt-2">✔ On-time, quality work every time</p>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-6 mb-4">
    <div class="why_choose_item">
      <img src="../../assets/img/why-choose-me/lock.png" alt="">
      <h2 class="mt-2">Secure & SEO Friendly</h2>
      <p class="mt-2">✔ Built with best practices</p>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-6 mb-4">
    <div class="why_choose_item">
      <img src="../../assets/img/why-choose-me/handshake.png" alt="">
      <h2 class="mt-2">Long-Term Support</h2>
      <p class="mt-2">✔ Maintenance & bug-fixes optional</p>
    </div>
  </div>

</div>


      <div class="stay_touch_inner mt-5" id="contact">
        <div class="row">
          <div class="col-md-4">
            <div class="stay_item" data-aos="fade-left" data-aos-delay="100">
              <i class="fa-solid fa-user-tie"></i>
              <h2>Md. Fahim Hossen</h2>
              <p>Web Developer</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="stay_item" data-aos="fade-up" data-aos-delay="100">
              <!-- <i class="fa-solid fa-user-clock"></i> -->
               <i class="fa-brands fa-whatsapp"></i>
              <!-- <h2>Freelance</h2> -->
               <h2>WhatsApp</h2>
              <!-- <p>Available Right Now</p> -->
               <a href="https://wa.me/1622383939" target="_blank">01622383939</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="stay_item" data-aos="fade-right" data-aos-delay="100">
              <i class="fa-regular fa-envelope"></i>
              <h2>Email</h2>
              <a href="mailto:mdfahimhossen629&#64;gmail.com">mdfahimhossen629&#64;gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  