
<app-hero></app-hero>
<app-about-me></app-about-me>

<section class="service" id="services">
    <div class="container">
        <div class="sec_title" data-aos="fade-up">
            <h1 class="light_title">Achievements</h1>
            <h3>What Services <b style="color: #815AB1;">I'm Providing</b></h3>
            <span></span>
        </div>
        <div class="service_inner">
            <app-service *ngFor="let data of services" [serviceData]="data"></app-service>
        </div>
    </div>
</section>

<section class="work-process">
    <div class="container">
        <div class="work_inner">
            <app-work-process *ngFor="let data of works" [worksData]="data" data-aos="fade-up" data-aos-delay="200"></app-work-process>
        </div>
    </div>
</section>


<section class="portfolio" id="portfolio">
    
    <div class="sec_title" data-aos="fade-up">
        <h1 class="light_title">Portfolio</h1>
        <h3>My <b style="color: #815AB1;">Portfolio</b></h3>
        <span></span>
    </div>
        <div class="portfolio_inner">
            <div class="container">
            <div class="portfolio_flex">
                <app-portfolio-card *ngFor="let data of portfolioItem" [portfolioData]="data" data-aos="fade-up" data-aos-delay="100"></app-portfolio-card>
            </div>
        </div>
            <div class="portfolio_btm">
                <app-portfolio></app-portfolio>
            </div>
        </div>

</section>

<app-stay-in-touch></app-stay-in-touch>
